github "alexaubry/BulletinBoard"
github "SwiftGit2/SwiftGit2"
github "libgit2/objective-git"
binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Instabug.json"
github "marmelroy/Zip"
