# github "alexaubry/BulletinBoard" "master"
github "Piidro/BulletinBoard" "fix/ipad-split-view"
github "SwiftGit2/SwiftGit2"
# github "libgit2/objective-git"
binary "https://studiocode.app/other/objectivegit.json"
github "mflint/Zip" "swift5"
github "gizmosachin/ColorSlider" >= 4.4
github "rickyzh/JASON" "master"
github "iwasrobbed/Down" "master"
github "OneSignal/OneSignal-iOS-SDK"
github "Frugghi/SwiftSH" "master"
