/* Based on Sublime Text's Monokai theme */

.codemirror { background: #272822; color: #f8f8f2; }

.codemirror-gutter { background: #272822; border-right: 0px; }
.codemirror-gutter-element { color: white; }
.codemirror-gutter-element { color: #d0d0d0; }
.codemirror-content { caret-color: #f8f8f0; }

.cm-comment { color: #75715e; }
.cm-atom { color: #ae81ff; }
.cm-number { color: #ae81ff; }

.cm-comment.cm-attribute { color: #97b757; }
.cm-comment.cm-def { color: #bc9262; }
.cm-comment.cm-tag { color: #bc6283; }
.cm-comment.cm-type { color: #5998a6; }

.cm-property, .cm-attribute { color: #a6e22e; }
.cm-keyword { color: #f92672; }
.cm-builtin { color: #66d9ef; }
.cm-string { color: #e6db74; }

.cm-variable { color: #f8f8f2; }
.cm-variable-2 { color: #9effff; }
.cm-variable-3, .cm-type { color: #66d9ef; }
.cm-def { color: #fd971f; }
.cm-bracket { color: #f8f8f2; }
.cm-tag { color: #f92672; }
.cm-header { color: #ae81ff; }
.cm-link { color: #ae81ff; }
.cm-error { background: #f92672; color: #f8f8f0; }

.codemirror-activeline-background { background: #373831; }
.codemirror-matching-bracket {
  text-decoration: underline;
}

body {
	background: #272822
}
