body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background: #272822; */
    /* color: #eee; */
}

.codemirror {
    min-height: 100vh;
	height: 100vh;
    overflow: auto;
    width: 100vw;
    margin: 0;
}

.tip {
    color: #A8A8A8;
    font-size: 48px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
}

/* Markdown */
.cm-header {
    font-family: arial;
}

.cm-header-1 {
    font-size: 150%;
}

.cm-header-2 {
    font-size: 130%;
}

.cm-header-3 {
    font-size: 120%;
}

.cm-header-4 {
    font-size: 110%;
}

.cm-header-5 {
    font-size: 100%;
}

.cm-header-6 {
    font-size: 90%;
}
