body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background: #272822; */
    /* color: #eee; */
}

* {
    z-index: 0;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    color: white;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.codemirror {
    width: 100vw;
    height: 50vh;
    margin: 0;
    overflow: auto;
}

#output {
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 50vh;
    left: 0;
    background-color: #000;
    color: green;
}

button {
    z-index: 10;
    position: absolute;
    top: 50vh;
    right: 5px;
    font-size: 24px;
    border-radius: 100%;
    background: #333;
    color: white;
    border: none;
    padding: 10px 14px;
}

/* Markdown */
.cm-header {
    font-family: arial;
}

.cm-header-1 {
    font-size: 150%;
}

.cm-header-2 {
    font-size: 130%;
}

.cm-header-3 {
    font-size: 120%;
}

.cm-header-4 {
    font-size: 110%;
}

.cm-header-5 {
    font-size: 100%;
}

.cm-header-6 {
    font-size: 90%;
}